@using mtask.Models.ViewModel
@model HomeIndexViewModel
@{
    ViewBag.Title = "ホーム";
}

<div class="jumbotron">
    <h1>@Html.Configulation("ApplicationName")</h1>
    <p class="lead">まろが作ったタスク管理ツール…… marony ga tukutta task kanri toolを縮めてmtaskです。どうも。</p>
</div>

<p>TODO: ここにアクティブなスプリントを表示</p>